In [2]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords
Keywords are the reserved words in Python and can't be used as an identifier

In [3]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist) # Python contains 35 keywords

36

# Identifiers
An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [5]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid syntax (2087397812.py, line 1)

In [6]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (619048856.py, line 1)

In [7]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [8]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val2 = 10

In [9]:
val_ = 99

# Comments in Python
Comments can be used to explain the code for more readabilty.

In [10]:
# Single line comment
val1 = 10

In [11]:
# Multiple
# line
# comment
val1 = 10

In [12]:
'''
Multiple
line
comment
'''
val1 = 10

In [13]:
"""
Multiple
line
comment
"""
val1 = 10

# Statements
Instructions that a Python interpreter can execute.

In [14]:
# Single line statement
p1 = 10 + 20
p1

30

In [15]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2

['a', 'b', 'c', 'd']

In [17]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 +\
+ 70 + 80
p1

290

In [20]:
# Multiple line statement
p2 = ['a' ,
'b' ,
'c' ,
'd'
]
p2
print(type(p2))

<class 'list'>

print(type(p2))

# Indentation
Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
indentation to indicate a block of code.If the indentation is not correct we will endup with
IndentationError error.

In [ ]:
p = 10
if p == 10:
print ('P is equal to 10') # correct indentation

IndentationError: expected an indented block after 'if' statement on line 2 (3316241393.py, line 3)

In [ ]:
for i in range(0,5):
  print(i) # correct indentation

0
1
2
3
4

In [ ]:
# if indentation is skipped we will encounter "IndentationError: expected an inde
for i in range(0,5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (1045564478.py, line 3)

In [ ]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [ ]:
j=20
for i in range(0,5):
  print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

# Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes,
methods or modules.
2) They appear right after the definition of a function, method, class, or module.

In [ ]:
def square(num):
      '''Square Function :- This function will return the square of a number'''
      return num**2

In [ ]:
square(2)

4

In [ ]:
square.__doc__ # We can access the Docstring using __doc__ method

'Square Function :- This function will return the square of a number'

In [ ]:
def evenodd(num):
          '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
          if num % 2 == 0:
                print("Even Number")
          else:
                print("Odd Number")

In [ ]:
evenodd(3)

Odd Number

In [ ]:
evenodd(2)

Even Number

In [ ]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

# Variables
A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

In [ ]:
p = 30

In [ ]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

140710111450824

In [ ]:
hex(id(p)) # Memory address of the variable

'0x7ff9a03596c8'

In [ ]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to po
q = 20 # Create new reference q which will point to value 20. p & q will be poin
r = q # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

(20, int, '0x7ff9a0359588')

In [ ]:
q , type(q), hex(id(q))

(20, int, '0x7ff9a0359588')

In [ ]:
r , type(r), hex(id(r))

(20, int, '0x7ff9a0359588')

In [ ]:
p = 20
p = p + 10 # Variable Overwriting
p

30

# Variable Assigment

In [ ]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

# Multiple Assignments

In [ ]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [ ]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

## Numeric

In [ ]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int c

10
<class 'int'>
28
10  is Integer? True

In [ ]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [ ]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of c

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [ ]:
sys.getsizeof(int()) # size of integer object in bytes

28

In [ ]:
sys.getsizeof(float()) # size of float object in bytes

24

In [ ]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean
Boolean data type can have only two possible values true or false.

In [ ]:
bool1 = True

In [ ]:
bool2 = False

In [ ]:
print(type(bool1))

<class 'bool'>

In [ ]:
print(type(bool2))

<class 'bool'>

In [ ]:
isinstance(bool1, bool)

True

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
bool(None)

False

In [ ]:
bool (False)

False

## Strings

### String Creation

In [ ]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [ ]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [ ]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [ ]:
mystr = '''Hello
World ''' # Define string using triple quotes
print(mystr)

Hello
World

In [ ]:
mystr = """Hello
World""" # Define string using triple quotes
print(mystr)

Hello
World

In [ ]:
mystr = ('Happy '
'Monday '
'Everyone')
print(mystr)

Happy Monday Everyone

In [ ]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [ ]:
len(mystr2) # Length of string

35

### String Indexing

In [ ]:
str1

'HELLO PYTHON'

In [ ]:
str1[0] # First character in string "str1"

'H'

In [ ]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [ ]:
str1[-1] # Last character in string

'N'

In [ ]:
str1[6] #Fetch 7th element of the string

'P'

In [ ]:
str1[5]

' '

### String Slicing

In [ ]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluded

'HELLO'

In [ ]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc

'PYTHON'

In [ ]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [ ]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [ ]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [ ]:
str1[:6] # Retreive first six characters of the string

'HELLO '

### Update & Delete String

In [ ]:
str1

'HELLO PYTHON'

In [ ]:
#Strings are immutable which means elements of a string cannot be changed once
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [ ]:
del str1 # Delete a string
print(srt1)

### String concatenation

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "SAURABH"
s3 = s1 + " " + s2
print(s3)

Hello SAURABH

## Iterating through a String

In [ ]:
mystr1 = "Hello Everyone"

In [ ]:
#Iteration
for i in mystr1:
  print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [ ]:
for i in enumerate(mystr1):
  print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [ ]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return the value

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

## String Membership

In [ ]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt

True
True
False

## String Partitioning

In [ ]:
"""
The partition() method searches for a specified string and splits the string into
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [ ]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

## String Functions

In [ ]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [ ]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [ ]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [ ]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [ ]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [ ]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [ ]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [ ]:
mystr2 = " Hello Everyone "

In [ ]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [ ]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [ ]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [ ]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [ ]:
mystr5 = "one two Three one two two three"

In [ ]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [ ]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [ ]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [ ]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one one ten nine eleven ten ten nine"

In [ ]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as text
print(str2)

                                          WELCOME EVERYONE

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character
print(str2)

                                 WELCOME EVERYONE

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*')
print(str2)

******************************** WELCOME EVERYONE

In [ ]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [ ]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [ ]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [ ]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [ ]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [ ]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [ ]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [ ]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [ ]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [ ]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

## Using Escape Character

In [ ]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [ ]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

## List
1) List is an ordered sequence of items.
2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

### List Creation

In [ ]:
list1 = [] # Empty List

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
list2 = [10,30,60] # List of integers numbers

In [ ]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [ ]:
list4 = ['one','two' , "three"] # List of strings

In [ ]:
list5 = ['Asim', 25 ,[50, 100],[150, 90]] # Nested Lists

In [ ]:
list6 = [100, 'Asim', 17.765] # List of mixed data types

In [ ]:
list7 = ['Asim', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [ ]:
len(list6) #Length of list

3

### List Indexing

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list4[0] # Retreive first element of the list

'one'

In [ ]:
list4[0][0] # Nested indexing - Access the first character of the first list elem

'o'

In [ ]:
list4[-1] # Last item of the list

'three'

In [ ]:
list5[-1] # Last item of the list

[150, 90]