## 1. Reading CSV File

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'./data/data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
x=df.iloc[:,:3].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [4]:
y=df.iloc[:,-1].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

## 2. Converting Strings names into Integers using LabelEncoder

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
x[:,0]

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [7]:
x[:,0]=le.fit_transform(x[:,0])
x[:,0]

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0], dtype=object)

In [10]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, nan],
       [0, 35.0, 58000.0],
       [2, nan, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [8]:
le_y=LabelEncoder()

In [12]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [14]:
y=le_y.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

## 3. Filling the missing data using SimpleImputer

In [16]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean')

In [17]:
si=si.fit(x[:,1:3])

In [20]:
x[:,1:3]=si.transform(x[:,1:3])

In [21]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

## 4. Standardisation of the data

In [22]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [23]:
x=ss.fit_transform(x)
x

array([[-1.08347268e+00,  7.58874362e-01,  7.49473254e-01],
       [ 1.32424438e+00, -1.71150388e+00, -1.43817841e+00],
       [ 1.20385853e-01, -1.27555478e+00, -8.91265492e-01],
       [ 1.32424438e+00, -1.13023841e-01, -2.53200424e-01],
       [ 1.20385853e-01,  1.77608893e-01,  6.63219199e-16],
       [-1.08347268e+00, -5.48972942e-01, -5.26656882e-01],
       [ 1.32424438e+00,  0.00000000e+00, -1.07356980e+00],
       [-1.08347268e+00,  1.34013983e+00,  1.38753832e+00],
       [ 1.20385853e-01,  1.63077256e+00,  1.75214693e+00],
       [-1.08347268e+00, -2.58340208e-01,  2.93712492e-01]])

In [24]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()

In [25]:
x=mm.fit_transform(x)
x

array([[0.        , 0.73913043, 0.68571429],
       [1.        , 0.        , 0.        ],
       [0.5       , 0.13043478, 0.17142857],
       [1.        , 0.47826087, 0.37142857],
       [0.5       , 0.56521739, 0.45079365],
       [0.        , 0.34782609, 0.28571429],
       [1.        , 0.51207729, 0.11428571],
       [0.        , 0.91304348, 0.88571429],
       [0.5       , 1.        , 1.        ],
       [0.        , 0.43478261, 0.54285714]])

## 5. Splitting the data for Training & Testing

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.8,random_state=2529)

In [33]:
print(x_train,x_test,y_train,y_test,sep='\n\n\n\n')

[[0.         0.34782609 0.28571429]
 [0.5        1.         1.        ]
 [1.         0.51207729 0.11428571]
 [0.         0.43478261 0.54285714]
 [0.         0.91304348 0.88571429]
 [0.5        0.56521739 0.45079365]
 [0.5        0.13043478 0.17142857]
 [0.         0.73913043 0.68571429]]



[[1.         0.47826087 0.37142857]
 [1.         0.         0.        ]]



[1 0 0 1 1 1 0 0]



[0 1]

## 6. Model selection and training

In [45]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [50]:
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

array([-0.14606667, -0.10339502])

In [51]:
y_test

array([0, 1])